@import '../../partials/colors';

.account-container {
    display: flex;
    justify-content: center;

    .loader-container {
        margin-top: 50px;
        .message {
            font-size: 18px;
        }
    }

    table {
        border-collapse: collapse;
    }
      
    table, th, td {
        border: 1px solid $black;
    }

    th, td {
        padding: 15px;
        text-align: left;
    }

    tr:hover {
        background-color: $gray;
        cursor: pointer;
    }

    th {
        background-color: $primary-color;
        color: $white;
    }
}

.navigation-container {
    display: flex;
    margin: 20px;
    .navbox {
        padding: 10px;
        margin: 0 20px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        color: $white;
        &:hover {
            cursor: pointer;
        }
    }
    .navbox.create {
        background-color: $green;
    }
    .navbox.deposit {
        background-color: $yellow;
    }
}

/* small to medium media query */
@media only screen and (max-width: 600px) {
    .account-container {
        justify-content: start;
        overflow-x: scroll;
        margin-left: 20px;
        margin-right: 20px;
    }
}
