$primary-color: #026C7C;
$primary-color-1: #024a55;
$secondary-color: #987D7C;
$footer-bg-color: #2b2e33;
$white: #ffffff;
$white-1: #ffffff87;
$black: #000000;
$gray: #c4c4c4;
$red: #d12020;
$green: #119DA4;
$yellow: #F5BB00;
$orange: #BB4430;
$purple: #2E294E;
$overlay-color: rgba(0,0,0,0.5);
