@import '../../partials/colors';

.create-account-container {
    display: flex;
    justify-content: center;

    .form-container {
        width: 550px;
    }

    .create-container {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        margin: 40px;
        padding: 40px;
        background-color: $white;

        .link {
            font-weight: 100;
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
        .error-text {
            color: $red;
        }
    }
}

/* small to medium media query */
@media only screen and (max-width: 600px) {
    .create-account-container {
        .form-container {
            width: auto;
        }
    }
}
